### POSTGRES SETTINGS
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=studybuddy
DB_HOST=db
DB_PORT=5432
DB_NAME=studybuddy
DB_USER=postgres
DB_PASSWORD=your_password

### BACKEND SETTINGS
JWT_SECRET=NtM8MNH8fwSdHWZJ5hPwhnJiknEUx6n4leuAyoBvmcQ
PORT=3000

### FRONTEND SETTINGS
VITE_API_URL=http://backend:3000
VITE_WS_URL=http://backend:3000