.pet-layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 0;
  gap: 16px;
}

.pet-status {
  display: flex;
  flex-direction: column;
  background-color: #fcf4ce;
  border: 4px solid #bcbcfc;

  flex-shrink: 0;

  width: 100%;
  padding: 12px;

}

.pet-actions {
  display: flex;
  justify-content: center;
  gap: 10px;

  padding: 12px;
  border-radius: 12px;
  transform: translateY(-45%);
}

.pet-area {
  position: relative;

  width: clamp(320px, 40vw, 700px);
  aspect-ratio: 1 / 1;

  overflow: hidden;

  flex-shrink: 0;
}

.pet-background {
  position: absolute;
  inset: 0;

  background-image: url('/assets/pet-area-background.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: 10%;
  z-index: 1;
}

.pet-avatar {
  position: absolute;

  left: 50%;
  bottom: 25%;

  transform: translateX(-50%);

  width: clamp(120px, 60%, 450px);
  aspect-ratio: 1 / 1;

  z-index: 2;

  image-rendering: pixelated;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.title {
  text-align: center;

  font-family: 'Thin Pixel', monospace;

  font-size: calc(2.5rem * var(--ui-scale));

  text-shadow:
    3px 3px 0 #5c64c4,   
    0 0 0 #5c64c4;

  margin: 0;
}

.stat {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.stat-text {
  flex-shrink: 0;
  white-space: nowrap;
  font-size: 40px;
  transform: translate(80%, -30%);
  position: absolute;
  width: 70px;
}


.stat > div {
  flex: 1;
  min-width: 0;
}

.stat img {
  width: clamp(28px, 3vw, 40px);
  height: clamp(28px, 3vw, 40px);
  flex-shrink: 0;
}
.idle {
  background-image: url("/pet/idle.png");
  background-size: 1200% 100%;

  animation: idle 2.5s steps(12) infinite;
}

.happy {
  background-image: url("/pet/happy.png");
  background-size: 1800% 100%;

  animation: happy 2.5s steps(18) infinite;
}

.angry {
  background-image: url("/pet/angry.png");
  background-size: 800% 100%;

  animation: angry 2.5s steps(8) infinite;
}

@keyframes idle {
  from {
    background-position-x: 0%;
  }

  to {
    background-position-x: 109.09%;
  }
}

@keyframes happy {
  from {
    background-position-x: 0%;
  }

  to {
    background-position-x: 105.88%;
  }
}

@keyframes angry {
  from {
    background-position-x: 0%;
  }

  to {
    background-position-x: 114.28%;
  }
}

@media (max-width: 600px) {
  .stat {
    gap: 8px;
  }

  .stat-text {
    font-size: 0.75rem;
  }
}