  @font-face {
    font-family: 'Thin Pixel';
    src: url('/fonts/thin_pixel-7.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  * {
    box-sizing: border-box;
    font-family: 'Thin Pixel', monospace !important;
  }

  #root {
    min-height: 100vh;
  }

  html,
  body {
    min-height: 100vh;
  }

  body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
  }

  img {
    max-width: 100%;
    display: block;
  }

  .RegisterForm {
    width: 100%;
    align-items: center;
  }

  .AuthPage {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ProfilePage {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .LoginForm {
      width: 100%;
      align-items: center;
  }

  .SettingsForm {
      width: 100%;
      align-items: center;
  }

@media (min-width: 1200px) {
  :root {
    --ui-scale: 2;
  }

  .pet-avatar {
    transform: translateY(calc(-70px * 1.1));
  }
}

@media (min-width: 2700px) {
  :root {
    --ui-scale: 6;
  }
}

@media (min-width: 3700px) {
  :root {
    --ui-scale: 9;
  }
}

@media (max-width: 1200px) {
  :root {
    --ui-scale: 1.5;
  }
}

@media (max-width: 900px) {
  :root {
    --ui-scale: 1.2;
  }
}