/* body {
    min-height: 100vh;

    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
} */

.RegisterForm {
    width: max-content;
    align-items: center;
}

.AuthPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ProfilePage {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.LoginForm {
    width: max-content;
    align-items: center;
}

.SettingsForm {
    width: max-content;
    align-items: center;
}
