* {
    
  max-width: 100%;
}

body {
  flex: 1;
  overflow: auto;
  width: 100%;
  max-width: 100%; /* чтобы не вылезало за экран */
  overflow-x: hidden; /* запрещаем горизонтальный скролл */
  margin: 0;
  padding: 0;
}

.RegisterForm {
    width: max-content;
    align-items: center;
}

.AuthPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ProfilePage {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.LoginForm {
    width: max-content;
    align-items: center;
}

.SettingsForm {
    width: max-content;
    align-items: center;
}
