.pet-page {
  display: grid;
  grid-template-columns: 650px 1fr 650px;

  width: 100%;
  height: 100%;

  padding: 36px;

  box-sizing: border-box;

  max-height: calc(100vh - 60px);
}

.left-panel {
  align-content: center;
}

.right-panel {
  display: flex;
  flex-direction: column;
}


.right-panel,
.left-panel {
  min-height: 0;
}

@media (max-width: 1024px) {
  .pet-page {
    grid-template-columns: 1fr;
  }

  .left-panel,
  .right-panel {
    display: none;
  }
}