.Layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 7vh 1fr;
}

.Content {
  background-image: url('/assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;

  image-rendering: pixelated;

  display: flex;
  justify-content: center;
  align-items: stretch;

  min-height: 0;
  overflow-x: hidden;
}