.Layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
}

.Content {
  min-height: 0;

  background-image: url('/assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;

  image-rendering: pixelated;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}